################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sk-demos
/sk-basics/bin/Debug/net6.0
/sk-basics/obj
/.vs/ProjectEvaluation
